<div id="<%= dom_id application %>">
  <p>
    <strong>Resume:</strong>
    <%= application.resume %>
  </p>

  <p>
    <strong>Cover letter:</strong>
    <%= application.cover_letter %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= application.status %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= application.notes %>
  </p>

</div>
