<div id="<%= dom_id job %>">
  <p>
    <strong>Title:</strong>
    <%= job.title %>
  </p>

  <h6><%= pluralize(job.views, "view") %></h6>

  <p>
    <strong>Description:</strong>
    <%= job.description %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= job.location %>
  </p>

  <p>
    <strong>Categoty:</strong>
    <%= job.categoty %>
  </p>

  <p>
    <strong>Remote:</strong>
    <%= job.remote %>
  </p>

  <p>
    <strong>Salary:</strong>
    <%= job.salary %>
  </p>

  <p>
    <strong>Requirements:</strong>
    <%= job.requirements %>
  </p>

  <p>
    <strong>Responsibilities:</strong>
    <%= job.responsibilities %>
  </p>

  <p>
    <strong>Application deadline:</strong>
    <%= job.application_deadline %>
  </p>

 

</div>
