<% if current_user %>
  <li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            User Menu
          </a>
    <ul class="dropdown-menu dropdown-menu-lg-end" aria-labelledby="navbarDropdown">
    <% if current_user.account.present? %>
      <li><%= link_to "Account", account_path(current_user.account), class:"dropdown-item" %></li>
    <% else %>
      <li><%= link_to "New Account", new_account_path, class:"dropdown-item" %></li>
    <% end %>
    <% if current_user.company.present? %>
      <li><%= link_to "Company", company_path(current_user.company), class:"dropdown-item" %></li>
    <% else %>
      <li><%= link_to "New Company", new_company_path, class:"dropdown-item" %></li>
    <% end %>
      <li><hr class="dropdown-divider"></li>
        <li><%= link_to "Edit User", edit_user_registration_path, class:"dropdown-item" %></li>
        <li><hr class="dropdown-divider"></li>
        <li><%= button_to "Sign out", destroy_user_session_path, method: :delete, class:"dropdown-item" %></li>
      </ul>
    </li>
  <% else %>
    <li class="nav-item">
      <%= link_to "Sign Up", new_user_registration_path, class:"nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to "Login", new_user_session_path, class:'nav-link'%>
    </li>
  <% end %>